/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

/*############## NAVBAR/HEADER #############*/


body {
	font-family: 'Poiret One', cursive;
	top: 0;
	left: 0;
	padding: 0;
	margin: 0;
}

#page_container {
	position: absolute;
    height: 100%;
    width: 100%;
    overflow: auto;
    background-color: #e8e7e5;
}
#header {
	top:0;
	width: 100%;
	height: 80px;
	background-color: #f9d85e;
	box-shadow: 0 0 10px #888;
	overflow: none;
	position: fixed;
	z-index: 99;
}

#company_logo{
	position:fixed;
	width: 70px;
	left: 0;
}

#header_logo {
	float: left;
	padding: 0;
	margin: 18px 0 0 88px;
	width: 30%;
	color: crimson;
}

#header_links {
	width: 30%;
	height: 100%;
	float:right;
}

#header_links ul {
	margin:0;
	list-style: none
}

#header_links li a {
	width: 30%;
	height: 50px;
	top: -100;
	float: right;
	color: white;
	text-decoration: none
}

#header_links a {
	font-size: 20px;
	width: 100%;
	padding: 30px 0 0 30px;
}

#header_links a:hover {
	transition: background-color 0.5s ease;
	background-color: white;
	color: crimson;
}

/*################ FLASHY ################*/


#flashy {
	position: fixed;
	width: 100%;
	height: 40px;
	padding: 10px;
	top: 80px;
	background-color: crimson;
}

#flashy p {
	text-align: center;
}


/*############## LANDING PAGE ###########*/

#landing_page_container {
	width: 60%;
	height: 300px;
	margin: 160px auto;
	padding: 20px;
	overflow: none;
}

#sign_up_form {
	width: 32%;
    height: 100%;
    margin-left: 123px;
    border-right: 1px solid #888;
    float: left;
}

#sign_in_form {
	width: 40%;
    margin-left: 92px;
    float: left;
}


/*############ ACCOUNT PAGE ###########*/
#user_greeting {
	margin: 108px 0 17px 0px;
    padding: 8px 0 0 30px;
    height: 46px;
	box-shadow: 0 0 10px #888;
	background-color: white;
}

#user_greeting h1 {
	margin:0;
}

#left_container {
	width: 46%;
    margin: 0;
    padding: 0;
    float: left;
}

#profile_image{
	width: 50px;
}

#account_details {
	width: 44%;
    height: 240px;
    padding: 10px 0 10px 20px;
    margin: 0 0 0 20px;
    box-shadow: 0 0 10px #888;
    border-radius: 3px;
    float: left;
    background-color: #fffbed;
}

#account_details h3 {
	margin: 0;
	width: 50%;
	display: inline-block;
}

#edit_profile_button {
	float:right;
	top: 0;
    margin-right: 20px;
}

#profile_image {
	width: 150px;
	height: 150px;
	margin: 0 0 10px 0;
	border: 1px solid #888;
}

#profile_image img {
	width:150px;
}


#edit_account {
	position: absolute;
    margin: 0 10px 10px 21px;
    padding: 10px 0 10px 20px;
    width: 20.2%;
    height: 239px;
    box-shadow: 0 0 10px #888;
    float: left;
    border-radius: 3px;
    background-color: white;
    display: none;
}

#edit_account h3 {
	margin: 0;
}

#create_new_boats {
	width: 43%;
    margin: 0px -20px 10px 13px;
    padding: 10px 0 22px 13px;
    box-shadow: 0 0 10px #888;
    float: left;
    border-radius: 3px;
    background-color: white;
}

#create_new_boats h3, p {
	margin: 5px 0;
}

#boat_follow_container {
	width: 92.7%;
    margin: 10px 10px 10px 20px;
    padding: 10px 0 10px 10px;
    box-shadow: 0 0 10px #888;
    clear: both;
    border-radius: 3px;
    background-color: white;
    overflow: auto;
}

#boat_follow_container h3 {
	float: left;
	margin-left: 130px;
}

#bf_left_column {
	width: 34.5%;
	height: 250px;
	margin: 10px 3px 10px 3px ;
	padding: 5px 0 5px 0;
	border: solid 1px #888;
	border-radius: 3px;
	/*box-shadow: 0 0 10px #888;*/
	float: left;
	overflow: scroll;
}

#f_boats_box {
	border-radius: 3px;
	box-shadow: 0 0 10px #888;
	margin: 10px 0;
	padding: 5px 5px;
	overflow: auto;
}

#fboatsleft {
	width:40%;
	float: left;
}

.fboats_title {
	font-weight: bold;
}

#fboatsleft p {
	width: 40%;
}

#follow_button {
	width: 32px;
    margin: 30px 10px 0 0;
    border: 1px solid #888;
    border-radius: 20px;
    padding: 3px;
    font-size: 20px;
    background: transparent;
    float: right;
}

#bf_right_column {
	width: 60%;
	height: 260px;
	margin: 10px;
	border: solid 1px #888;
	border-radius: 3px;
	float:left;
	overflow: scroll;
}

#unf_boat_box {
	margin: 10px 0;
	padding: 5px;
	box-shadow: 0 0 10px #888;
	overflow: auto;
}

#f_boat_image {
	width:100px;
	float: left;
	margin-right: 5px;
}

#unfollow_button {
	width: 20px;
	margin: 10px 10px 0 0;
	border: 1px solid #888;
	border-radius: 20px;
	padding: 3px;
	font-size: 18px;
	float:right;
	text-align: center;
	text-decoration: none;

}

#unf_bb_titles {
	width: 55%;
	float:left;

}

#add_jobs {
	width: 91%;
    margin: 10px 10px 10px 20px;
    padding: 10px 0 10px 20px;
    box-shadow: 0 0 10px #888;
    clear: both;
    border-radius: 3px;
    background-color: white;
}

#user_boats_container {
	width: 52%;
	height: 850px;
	float: left;
	overflow: scroll;
}

#boat_title {
	height: 40px;
	box-shadow: 0 0 10px #888;
	border-radius: 3px;
	 background-color: white;
}

#boat_title h3 {
	margin: 0;
}

#user_boats_container h3 {
	text-align: center;
}

#boat_box {
	padding: 10px 0 10px 50px;
	margin: 10px auto;
	box-shadow: 0 0 10px #888;
	border-radius: 3px;
	 background-color: white;
}
#boat_jobs_container {
	display: none;
}

.boat_jobs {
	width: 90%;
	margin: 10px 0 10px 0;
	padding: 10px 0 10px 10px;
	box-shadow: 0 0 10px #888;
	border-radius: 3px;
	/*display:none;*/
}

/*########### BOAT SHOW AND EDIT ###########*/

#update_boat {
	margin-top: 120px;
}

/*############### JOB CREATE ON JOB CONTROLLER ####*/

#create_job {
	margin-top: 200px;
}
